.qr-code {
    max-width: 100px;
    margin: 0 auto;
}
.center {
    text-align: center;
}
.chart-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    max-height: 50vh;
}
.content-card {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 0.75rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: all 0.3s ease-in-out;
}

.content-card h1 {
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0px;
}

.content-card h2 {
    font-weight: bold;
    font-size: 24px;
}

.content-card h3 {
    font-weight: bold;
    margin-top: 15px;
}

.content-card a {
    color: #2E6760;
    text-decoration: none;
}

.content-card a:hover {
    color: #503175;
    text-decoration: underline;
}

.content-card p {
    margin: 15px 0;
}

.content-card ul {
    list-style: disc;
    padding-left: 30px;
}

.nav-button {
    transition: all 0.2s ease-in-out;
}
.nav-button.active {
    color: #4f46e5;
    border-bottom-color: #4f46e5;
}
.nav-button:not(.active) {
    border-bottom-color: transparent;
}