.qr-code {
    max-width: 100px;
    margin: 0 auto;
}
.center {
    text-align: center;
}
.chart-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    max-height: 50vh;
}

.nav-button {
    /* Sets up a 2px bottom border but makes it invisible */
    border-bottom-width: 2px;
    border-color: transparent;
    /* Adds a smooth transition effect */
    transition: border-color 0.2s ease-in-out;
}

.nav-button:hover {
    border-bottom-color: #4f46e5; /* The indigo color */
}

.nav-button.active {
    color: #4f46e5;
    border-bottom-color: #4f46e5;
}

.nav-button:not(.active) {
    border-bottom-color: transparent;
}